h1{
    background-color: #3CAEA3;
    padding: 10px;
    margin: 0px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 20px;
}

.links{
    background-color: #FFFFFF;
    border-radius: 10px;
}

h2{
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border: solid;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}

h2:first-child{
    border-radius: 10px 10px 0px 0px;
}

h2:last-child{
    border-radius: 0px 0px 10px 10px;
    border-bottom: solid;
}

a{
    text-decoration: none;
    color: #C51162;
}

.links a:hover{
    color: #B00020;
    font-style: italic;
}

body{
    background-color: #173F5F;
}

#formBox{
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

form{
    text-align: center;
}


.menu{
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    text-align: center;
    padding-top: 30px;
}

#login{
    display: none;
}

#new{
    display: none;
}

button{
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: #C51162;
  width: 150px;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
  margin-right: 20px;
}
    
