/*mobile hamborg*/
@media only screen and (min-width: 640px) {
.topnav{
  display:block;
  padding: 10px;
  padding-right: 25px;
  background-color: white;
  text-align: center;
}

.icon{
  display: none;
}

#links{
  display: block;
  background-color: white;
}

}

@media only screen and (max-width: 640px) {

#links {
    display: none;
}
  
  .topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}
    .topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #3CAEA3;
  padding-bottom: 20px;
}
}