.container{
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
}

#profileimage {
    border-radius: 10px;
}

.container p{
    border: solid 2px;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-bottom: none;
}

.container p:first-child{
    border-radius: 5px 5px 0px 0px;
    background-color: #CAE1FF;
}

.container p:nth-child(2){
    background-color: #A2B5CD;
}

.container p:nth-child(3){
    background-color: #CAE1FF;
}

.container p:last-child{
    border-radius: 0px 0px 5px 5px;
    border-bottom: 2px solid;
    background-color: #A2B5CD;
}
